In [1]:
from selenium import webdriver
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome()

In [39]:
driver.get("http://showlistaustin.com/")

In [40]:
events = driver.find_elements_by_css_selector("td")

In [41]:
import re

In [42]:
# regex to remove words between []
x = events[2].text
new_word = re.sub("[\[].*?[\]]", "", x)
# split on \n. output list
word_list = new_word.splitlines()
# loop. remove spaces at end of text, regex to remove last parenthesis text (in this case the address)
clean_word_list = []
for word in word_list:
    stripped_word = re.sub("\([^()]*\)$", "", word.rstrip())
    clean_word_list.append(stripped_word.strip())
    print(stripped_word)

Adam Schatz (Landlady), Knife in the Water, Shmu, Lolita Lynne at the Spiderhouse Ballroom
Tank Girl!, Two Kind, Sure, Emada Lil Door, Lainey Gonzales at Beerland
Ibeyi at the Mohawk
Vision Kids, Vampyre, The Gospel Truth at the Mohawk
Dreadneck Night with The Mau Mau Chaplains at Flamingo Cantina
Warren Hood at Austin Beer Garden Brewing Co.
That 1 Guy at Stubb's
The Steel Woods, The Drugstore Gypsies at Antone's
All Girls on Decks, Girls night on the turntables at the 13th Floor
Foo Fighters at Austin360 Amphitheater at Circuit of The Americas

In [43]:
clean_word_list

['Adam Schatz (Landlady), Knife in the Water, Shmu, Lolita Lynne at the Spiderhouse Ballroom',
 'Tank Girl!, Two Kind, Sure, Emada Lil Door, Lainey Gonzales at Beerland',
 'Ibeyi at the Mohawk',
 'Vision Kids, Vampyre, The Gospel Truth at the Mohawk',
 'Dreadneck Night with The Mau Mau Chaplains at Flamingo Cantina',
 'Warren Hood at Austin Beer Garden Brewing Co.',
 "That 1 Guy at Stubb's",
 "The Steel Woods, The Drugstore Gypsies at Antone's",
 'All Girls on Decks, Girls night on the turntables at the 13th Floor',
 'Foo Fighters at Austin360 Amphitheater at Circuit of The Americas']

In [44]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import user, passthing

In [45]:
Base = automap_base()

engine = create_engine(f"postgresql+psycopg2://{user}:{passthing}@rds-postgresql-bon-temps.capxvife87l2.us-east-2.rds.amazonaws.com/bon_temps")
Base.prepare(engine, reflect=True)
bon_temps = Base.classes.bon_temps

session = Session(engine)

In [46]:
results = session.query(bon_temps.venues, bon_temps.address, bon_temps.lat, bon_temps.lon).all()
venue_list = []
for result in results:
    venue_list.append(result[0])

In [47]:
for result in results:
    print(result)

("Antone's Record Shop", '2928 Guadalupe', 30.2964025, -97.7426039)
('Breakaway Records', '211 W. North Loop Blvd.', 30.31831, -97.7244402)
('End of an Ear', '4304 Clawson Rd.', 30.2290288, -97.7843333)
('Exploded Records at Juiceland', '4500 Duval', 30.3072342, -97.724888)
('Friend of Sound Records', '1704 S. Congress Ave.', 30.2469358, -97.7509779)
('Monkeywrench Books', '110 E. North Loop', 30.3179515, -97.7216895)
('Waterloo Records', '600 N. Lamar', 30.271932, -97.7542755)
("Antone's", '305 E. 5th St.', 30.266128, -97.7403547)
('Austin Beer Garden Brewing Co.', '1305 W. Oltorf St.', 30.2451775, -97.7688783)
('Barracuda ', '611 E. 7th St.', 30.2670856, -97.7362808)
('Beerland', '711 1/2 Red River', 30.2773747, -97.7468783)
('The Belmont', '305 W. 6th St.', 30.2685934, -97.7456171)
('The Blackheart', '86 Rainey St.', 30.2596756, -97.7386599)
("C-Boy's Heart and Soul", '2008 S. Congress Ave.', 30.2436795, -97.7522169)
('The Cactus Cafe Texas Union', 'UT campus', 30.2849185, -97.7340567)
('The Carousel Lounge', '1110 E. 52nd St.', 30.3099174, -97.7082583)
('Cheer Up Charlies', '900 Red River', 30.2696098, -97.7363583)
('Come and Take It Live', '2015 E. Riverside Dr.', 30.2402656, -97.7285157)
('Continental Club ', '1315 S. Congress', 30.2504975, -97.7490336)
('Dirty Dog Bar', '505 East 6th St.', 30.2664217, -97.738041)
('Dozen Street', '1808 E. 12th St.', 30.2738574, -97.7204014)
('Elysium', '705 Red River', 30.2675715, -97.7365464)
("Emo's", '2015 E. Riverside Dr.', 30.2402656, -97.7285157)
('Empire Control Room & Garage', '604-606 E. 7th St.', 30.2674328, -97.7360899)
('Flamingo Cantina', '515 E. 6th St.', 30.266484, -97.7377449)
('The Grand', '4631 Airport Blvd, Suite 121', 30.3061352, -97.7150667)
('The Highball', '1120 S. Lamar Blvd.', 30.2561977, -97.7635717)
('Hole in the Wall', '2538 Guadalupe', 30.2900705, -97.7417764)
('Hotel Vegas', '1500 E. 6th St.', 30.2634308, -97.727264)
('Kingdom', '103 E. 5th St.', 30.26675, -97.7424387)
('The Lost Well', '2421 Webberville Rd.', 30.2626404, -97.7144728)
('Lucky Lounge', '209 W. 5th St.', 30.2673544, -97.7453625)
('The Mohawk', '912 Red River', 30.2701568, -97.7360368)
('Nomad', '1213 Corona Dr.', 30.312582, -97.704884)
('The North Door', '501 Brushy St.', 30.2647502, -97.7341613)
('One-2-One Bar', '1509 S. Lamar Blvd. St. 600', 30.2519609, -97.7637336)
('The Parish', '214 E 6th St.', 30.2678099, -97.7406942)
('The Sahara Lounge', '1413 Webberville Rd.', 30.2794521, -97.681569)
('The Scoot Inn', '1308 E. 4th St.', 30.2621409, -97.7293855)
('The Sidewinder', '715 Red River', 30.2679079, -97.7363869)
('Spiderhouse Ballroom', '2908 Fruth St.', 30.2954951, -97.7417417)
("Stubb's BBQ", '801 Red River', 30.2684579, -97.7361748)
('Swan Dive', '615 Red River', 30.2671738, -97.736684)
('Tellers', '607 and 609 Trinity', 30.267636, -97.7389012)
('Texas Mist', '1115 Old Bastrop Hwy.', 30.2280656, -97.6807981)
('The Volstead Lounge', '1500 E. 6th St.', 30.2634308, -97.727264)
('Vulcan Gas Company', '418 E. 6th St.', 30.267162, -97.738465)
('The White Horse', '500 Comal St.', 30.2625474, -97.727003)
('3ten ACL Live', '310 Willie Nelson Blvd., Suite 1A', 30.265364, -97.7472739)
('Austin360 Amphitheater', '9201 Circuit of the Americas Blvd.', 30.1341647, -97.6384294)
('ACL Live at The Moody Theater', '310 Willie Nelson Blvd.', 30.265364, -97.7472739)
('Bass Concert Hall', 'UT campus', 30.2849185, -97.7340567)
('Cedar Park Center', '2100 Avenue of the Stars', 30.5414498, -97.8205853)
('The Frank Erwin Center', '1701 Red River', 30.2769548, -97.7322085)
('Hogg Auditorium', 'UT campus', 30.2849185, -97.7340567)
('Ironwood Hall', '505 E. 7th St.', 30.2672791, -97.7375539)
('The Long Center', '701 W. Riverside Dr.', 30.259982, -97.751079)
('One World Theatre', '7701 Bee Caves Rd.', 30.309041, -97.8453715)
('The Paramount Theater', '713 Congress Ave.', 30.2693519, -97.7418824)
('Scottish Rite Theater', '207 W. 18th St.', 30.2799865, -97.7407791)
('Skyline Theater', '701 W. Riverside Dr.', 30.259982, -97.751079)
('Travis County Exposition Center', '7311 Decker Lane', 30.2956846, -97.621927)
('Buzz Mill', '1505 Town Creek Dr.', 30.2416861, -97.7268397)
('Cherrywood Coffeehouse', '1400 E. 38th 1/2 St.', 30.2935421, -97.716)
('Counter Culture', '2337 E. Cesar Chavez', 30.2545306, -97.7179302)
('Lamberts', '401 W. 2nd St.', 30.2651645, -97.7479301)
('Oskar Blues Brewery', '10420 Metric Blvd.', 30.383536, -97.7142182)
('Spiderhouse', '2908 Fruth St.', 30.2954951, -97.7417417)
("Threadgill's", '301 West Riverside Dr.', 30.2581956, -97.7487578)

In [48]:
final_upload_list = []

In [49]:
# match venues with event messages
for event in clean_word_list:
    for venue in results:
        if venue[0].lower().strip() in event.lower():
            final_upload_list.append(venue)

In [50]:
# convert to list from sqlalchemy element
list_conversion = list(final_upload_list)

In [51]:
# merge of final list with event content
test_upload_list = []
for j in range(len(final_upload_list)):
    test= []
    test.append(clean_word_list[j]) # alist[0] is 'from form' 
    if final_upload_list[j][0].lower() in clean_word_list[j].lower():
        test.append(final_upload_list[j][0])
        test.append(final_upload_list[j][1])
        test.append(final_upload_list[j][2])
        test.append(final_upload_list[j][3])
    test_upload_list.append(test) # slot for second piece of data

In [52]:
import pandas as pd

In [53]:
df = pd.DataFrame(test_upload_list)

In [54]:
df

,0,1,2,3,4
0,"Adam Schatz (Landlady), Knife in the Water, Sh...",Spiderhouse Ballroom,2908 Fruth St.,30.295495,-97.741742
1,"Tank Girl!, Two Kind, Sure, Emada Lil Door, La...",None,None,NaN,NaN
2,Ibeyi at the Mohawk,None,None,NaN,NaN
3,"Vision Kids, Vampyre, The Gospel Truth at the ...",The Mohawk,912 Red River,30.270157,-97.736037
4,Dreadneck Night with The Mau Mau Chaplains at ...,None,None,NaN,NaN
5,Warren Hood at Austin Beer Garden Brewing Co.,None,None,NaN,NaN
6,That 1 Guy at Stubb's,None,None,NaN,NaN
7,"The Steel Woods, The Drugstore Gypsies at Anto...",Antone's,305 E. 5th St.,30.266128,-97.740355
8,"All Girls on Decks, Girls night on the turntab...",None,None,NaN,NaN

In [ ]:
df.rename(columns = {0:'event_message'}, inplace = True)

In [ ]:
df.rename(columns = {1:'venue_name', 2: "venue_address", 3: "venue_lat", 4: "venue_lon"}, inplace = True)

In [ ]:
df.to_csv("todays_events.csv")

In [ ]:
# orient csv as dict in order to upload to PostGRES
postgres_upload_dict = df.to_dict(orient='records')

In [ ]:
type(postgres_upload_dict[0]["venue_lat"])

In [ ]:
conn = engine.connect()

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [ ]:
Base = declarative_base()

class daily_events(Base):
    __tablename__ = 'daily_events'
    id = Column(Integer, primary_key= True, autoincrement= True)
    venue_name = Column(String)
    venue_address = Column(String)
    venue_lat = Column(Float)
    venue_lon = Column(Float)
    event_message = Column(String)
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [ ]:
Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

In [ ]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [ ]:
table = sqlalchemy.Table('daily_events', metadata, autoload=True)

In [ ]:
conn.execute(table.delete())

In [ ]:
conn.execute(table.insert(), postgres_upload_dict)

In [ ]:
conn.execute("select * from daily_events").fetchall()